##
# Backup Configuration
##

# The base name of backup files
BACKUP_NAME=mydomain.com

# Mysql login info - 
# This account needs at least SELECT and LOCK TABLES.
MYSQL_USER=
MYSQL_PASSWORD=

# The day of the week to do a full backup on.
# Days are 1-7, starting with Monday.
# Defaults to Friday.
#FULL_DAY_OF_WEEK=

# Uncomment to backup files referred to by symbolic links. 
#DEREFERENCE=1

# Specify the tar binary to use. Must be GNU tar or some variant.
#TAR=hfstar

##
# Sync Configuration
##

# User with ssh access
REMOTE_USER=
REMOTE_HOST=mydomain.com

# Local directory to sync backup files to.
LOCAL_DIR=/home/user/mydomain.com-backups

